.post_card{
    width: 480px;
    height: 500px;
    cursor: pointer;
    border-radius: 6px;
    margin: 10px;
    margin-bottom: 30px;
    height: 500px;
    background-size:cover ;
    display: flex;
    align-items: flex-end;

}
.post_card > div{
    z-index: 2;
    position: relative;
}
.post_card h2{
    padding: 15px;
    color: #fff;
    z-index: 2;
}

.post_card::before{
    content: "";
    position: absolute;
    height: 500px;
    width: 480px;
    background-color: rgb(0, 0, 71);
    border-radius: 6px;
    opacity: 0.5;
    z-index: 1;
}
.posts_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.pagination button{
    padding: 15px 25px;
    border: none;
    border-radius: 6px;
    background-color: black;
    margin: 10px;
}
.pagination button a{
    color: #fff;
    font-size: 18px;

}