.logo a{
    font-size: 36px;
    color: blueviolet;
    font-weight: bold;
}
.header{
    width: 100%;
    box-shadow: 6px 6px 15px #e7e7e7;
    
}
.innerDiv{
    width: 98%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.navbar ul{
    list-style: none
}
.footer{
    text-align: center;
    box-shadow: 0px -5px 15px #e7e7e7;
    padding: 15px;
}